<h1>bbs_bookstore handlebars</h1>

<form method="post" action="/books">
  <label>Date Published: </label> <input type="text" name="datePublished" ><br>
  <label>Title: </label><input type="text" name="title" ><br>
  <label>Author First Name: </label><input type="text" name="authorFname" ><br>
  <label>Author Last Name: </label><input type="text" name="authorLname" ><br>
  <label>Price: </label><input type="text" name="price" ><br>

  <input type="submit" name="Add Book" value="Add Book">
</form>
{{#if bs_book}}
<table border="solid" name="bs_book">
<th>Book ID
    <th>Date Published
    <th>Title
    <th>Author First Name
    <th>Author Last Name
    <th>Price
</th>
  {{#each bs_book}}
  <tr>
    <td>{{this.datePublished}}</td>
    <td>{{this.title}}</td>
    <td>{{this.authorFname}}</td>
    <td>{{this.authorLname}}</td>
    <td>{{this.price}}</td>
    <td><form method="post" action="/books">
      <input type="hidden" name="bookID" value="{{this.bookID}}">
      <input type="submit" name="Delete" value="Delete">
    </form></td>
    <td><form method="get" action="/books">
          <input type="hidden" name="datePublished" value="{{this.datePublished}}">
          <input type="hidden" name="title" value="{{this.title}}">
          <input type="hidden" name="authorFname" value="{{this.authorFname}}">
          <input type="hidden" name="authorLname" value="{{this.authorLname}}">
          <input type="hidden" name="price" value="{{this.price}}">
          <input type="submit" name="Edit" value="Edit">
    </form></td>
  </tr>
  {{/each}}
</table>
{{/if}}

<td><form method="get" action="/stores">
<input type="submit" name="Store Table" value="Store Table">
    </form></td>
    
    
    <td><form method="get" action="/employees">
    <input type="submit" name="Employee Table" value="Employee Table">
    </form></td>
    
    <td><form method="get" action="/customers">
        <input type="submit" name="Customer Table" value="Customer Table">
    </form></td>

