<h1>transaction details table bs</h1>
<h1>bs_pubhandlebars</h1>


<form method="post" action="/tran">
  <label>transaction ID: </label><input type="number" name="tID" ><br>
  <label>Author: </label><input type="text" name="author" ><br>
    <label>Title: </label><input type="text" name="title" ><br>

  <input type="submit" name="Add Transaction" value="Add Transaction">
</form>

{{#if bs_tran}}
<table border="solid" name="bs_tran">
    <th>Transaction ID
    <th>Customer ID
    <th>Employee ID
    
</th>
  {{#each bs_tran}}
  <tr>
    <td>{{this.tranID}}</td>
    <td>{{this.cID}}</td>
    <td>{{this.eID}}</td>
     <td><form method="post" action="/tran">
    	<input type="hidden" name="tranID" value="{{this.tranID}}">
      <input type="submit" name="Delete" value="Delete">
    </form></td>
    
    <td><form method="get" action="/tran">
          <input type="hidden" name="tranID" value="{{this.tranID}}">
          <input type="hidden" name="cID" value="{{this.cID}}">
          <input type="hidden" name="pID" value="{{this.pID}}">
          <input type="submit" name="Edit" value="Edit">
    </form></td>
  </tr>
  {{/each}}
</table>
{{/if}}


<td><form method="get" action="/">
<input type="submit" name="Home" value="Home">
    </form></td>
    