<h1>updatecompany.handlebars</h1>

<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

<form method="get" action="/updateCompany">
  <label>Company Name: </label><input type="text" name="companyName" value="{{this.companyName}}"><br>

  <label>Address: </label><input type="text" name="address" value="{{this.address}}"><br>
  <label>City: </label><input type="text" name="city" value="{{this.city}}"><br>
  <label>State: </label><input type="text" name="state" value="{{this.state}}"><br>
  <label>Zipcode: </label><input type="text" name="zipcode" value="{{this.zipcode}}"><br>
  <label>Country: </label><input type="text" name="country" value="{{this.country}}"><br>

  <input type="hidden" name="companyID" value="{{this.companyID}}">
  <input type="submit" name="Update Company" value="Update Company">
</form>

<form action="/companies">
    <input type="submit" value="Return to Company table"/>
</form>
