{{#if bbs_employee}}
<table border="solid" name="bbs_employee">
<th>EmployeeID
    <th>First Name
    <th>Last Name
    <th>Store ID
    <th>Position
    </th>
  {{#each bbs_employee}}
  <tr>
    <td>{{this.employeeID}}</td>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.storeID}}</td>
    <td>{{this.position}}</td>
    <td><form method="post">
      <input type="hidden" name="employeeID" value="{{this.employeeID}}">
      <input type="submit" name="Delete" value="Delete">
    </form></td>
    <td><form method="get" action="/update">
          <input type="hidden" name="employeeID" value="{{this.employeeID}}">
          <input type="hidden" name="firstName" value="{{this.firstName}}">
          <input type="hidden" name="lastName" value="{{this.lastName}}">
          <input type="hidden" name="storeID" value="{{this.storeID}}">
          <input type="hidden" name="position" value="{{this.position}}">

          <input type="submit" name="Edit" value="Edit">
    </form></td>
  </tr>
  {{/each}}
</table>
{{/if}}


