<h2>Employee Recognition Awards System</h2>
<h4>Award created</h4>
<div>Award ID: {{award.id}}</div>
<div>Recipient Name: {{award.recipient_name}}</div>
<div>Recipient Email: {{award.recipient_email}}</div>
<div>Creation Time: {{award.creation_time}}</div>
<div>Award Type: {{award.award_type}}</div>
