<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../starter-template.css" rel="stylesheet">
    
  </head>
  <body overflow="hidden">
     <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" *ngIf="!showNav">
       <a class="navbar-brand" href="#">Employee Recognition Awards System</a>
       <button class="navbar-toggler" id="hideMe5" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" Id="navbarNavDropdown">
         <ul class="navbar-nav">
           <li class="nav-item active" >
             <a class="nav-link" href="/adminProfile">My Profile <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/accountsMain">Accounts <span class="sr-only">(current)</span></a>
	   </li>
           <li class="nav-item" >
             <a class="nav-link" href="#">BI Reports</a>
           </li>
   
         </ul>
       </div>
</nav>
  
      <div class="container-fluid" >
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                         <h2>{{{title}}}</h2>
 <li class="nav-item">
                  <a class="nav-link active" href="/getAllAdmins" value="Admins">
                    Admins<span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/getAllUsers">
                    Users
                  </a>
                </li>
                
              </ul>

          
            </div>
          </nav>
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
           {{#if admins}}
           <form method="get" action="/preAddAdmin" >
	      	  <input id="addUser" type="submit" name="addUser" value="+ Add" /></form>
	     <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          	                  
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
	   	    <h1 class="h2"></h1>
	   	           <div class="btn-toolbar mb-2 mb-md-0">
	   	           <div class="btn-group mr-2">
				</div>
            </div>           
            <div class="table-responsive-sm">
           
              <table class="table table-sm">
             
	              <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Login Attempts</th>
                    <th>Created</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {{#each admins}}
                
		   <tr>
		     <form method="post" action="/editAdmins" >
		   <td>{{this.id}}<input type="hidden" name="id" id="id" value="{{this.id}}" ></td>
		      <td><input type="text" name="email" id="email" value="{{this.email}}" ></td>
		        <td>{{this.last_login}}</td>
		      <td>{{this.login_attempts}}</td>
		     <td>{{this.creation_time}}</td>
		      <td><input id="Save" type="submit" name="Save" value="Save" >
		    <input id="delete" type="submit" name="delete" value="delete" ></td>
		      </form>
		    </tr>
                 {{/each}}
                  {{/if}}
                </tbody>
              </table>
              
	{{#if users}}
	<form method="get" action="/preAddUser" >
      <input id="addUser" type="submit" name="addUser" value="+ Add" /></form>
		     <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
	          	                  
	          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
		   	    <h1 class="h2"></h1>
		   	           <div class="btn-toolbar mb-2 mb-md-0">
		   	           <div class="btn-group mr-2">
					</div>
            </div>   
           <table class="table table-sm">
	   <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>Last Login</th>
                    <th>Login Attempts</th>
                    <th>Created</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody>
                {{#each users}}
                  <tr>
                  <form method="post" action="/editUsers" >
 		   <td>{{this.id}}<input type="hidden" name="id" id="id" value="{{this.id}}"></td>
		   <td>{{this.name}}</td>
                   <td><input type="text" name="email" id="email" placeholder="{{this.email}}" ></td>
		   <td>{{this.region}}</td>
		   <td>{{this.last_login}}</td>
                   <td>{{this.login_attempts}}</td>
                   <td>{{this.creation_time}}</td>
                   <td><input id="save" type="submit" name="save" value="Save" >
                    <input id="delete" type="submit" name="delete" value="delete" ></td>
                  </tr></form>
                 {{/each}}
                  {{/if}}
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
  

    
  
  <script>
  
  </script>




  </body>
  

  
</html>

